//- Date : 04 May 2012
//- Title : Good Afternoon
//- Style : /stylesheets/blog/04_05_2012.css

section.five.columns.offset-by-eight
    h1 Hello there. I'm Julian and this is the beginning of Good Afternoon.

    p  My online sketch/scrap-book thing. I'll use it to write, draw, make mistakes, put down ideas and generally but quite specifically waste your precious time.

    p This thing that some people might call a blog, others might call a fart, was scrambled together in <a href="http://nodejs.org/">node.js</a> and dumped on <a href="http://github.com/juliankrispel/goodafternoon" title="Good Afternoon Code Repo">github</a>. So if you want to scrutinize my code and tweet about it go ahead, I'm always happy to learn something! That's exactly the point!